div {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.container[data-component="Parent"] {
  background-color: aquamarine;
}

.inner-div1[data-component="Parent"],
.inner-div2[data-component="Parent"] {
  background-color: blue;
  color: aliceblue;
  width: 100px;
  height: 100px;
  transition: width 2s;
  &:hover {
    width: 300px;
  }
}

.container[data-component="Child"] {
  background-color: goldenrod;
  color: white;
}

.silver {
  color: silver;
}
.golden {
  color: gold;
}
div {
  padding: auto;
}
div {
  background-attachment: fixed;
}
