@import url("my-imported-styles.css");
.silver[data-component="c1"] {
  color: silver;
}
.silver2[data-component="c1"],
div[data-component="c1"],
.silver2_5[data-component="c1"] {
  color: silver;
  .nested-selector {
    color: aqua;
  }
}
@media only screen and (max-width: 600px) {
  .silver3[data-component="c1"] {
    color: black;
  }
}
.silver3[data-component="c1"] {
  color: silver;
}
