/* this is a comment*/

/* 
This is a multiline comment { . } } 
*/
@import url("my-imported-styles.css");
.silver {
  color: silver;
}
.silver2,
div,
.silver2_5 {
  color: silver;
  .nested-selector {
    color: aqua;
  }
}

@media only screen and (max-width: 600px) {
  .silver3 {
    color: black;
  }
}

.silver3 {
  color: silver;
}

/* this is a comment*/

/* 
This is a multiline comment { . } } 
*/
